<app-header></app-header>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row pt-5 gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" width="400px" height="500px" [src]="product.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">PID: {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>$ {{product.price}}</span>
                </div>
                <p class="lead"><span class="fw-bolder">Overview : </span>{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    <button (click)="addToWishlist(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-heart-circle-plus text-danger me-1"></i>
                        Add to Wishlist
                    </button>
                    <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-cart-shopping text-success me-1"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>